body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F9E795 ;
    color:  #F96167;
}

button
{
    padding: 20px;
}

button:hover
{
 height: 400px;
 width: 400px;
 background-color: #F96167;
}