body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin:0%;
}
div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.testbox
{
    z-index: 0;
    background-color:blue;
    height: 50px;
    width: 50px;
}








/*BACKGROUND*/
.red_pasek
{
    background-color: #AA151B;
    height: 25%;
    width: 100%;
}
.yellow_pasek
{
    z-index: -1;
    background-color: #F1BF00;
    height: 50%;
    width: 100%;
}

#emblem
{
    z-index: -1;
    background-image: url("emblem.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 25%;
    transform: translateX(-25vw);

}
h1
{
    Color: #F1BF00;
    align-items: center;
    justify-content: center;

}



