<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Really Real Spanish</title>
        <link rel="stylesheet" href="/static/styl.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
    <body>
        <div class="red_pasek">
            <h1>
                XYZ
            </h1>
        </div>
        <div class="yellow_pasek">
            <div id="emblem"></div>
            <div class="testbox"></div>
            <div class="testbox"></div>
            <div class="testbox"></div>
            <div class="testbox"></div>
        </div>
        <div class="red_pasek"></div>
    </body>